@font-face { font-family: 'VAGRoundedStd'; src: url('VAGRoundedStd-Black.woff') format('woff'); font-weight: 900; font-style: normal; }

@font-face { font-family: 'VAGRoundedStd'; src: url('VAGRoundedStd-Bold.woff') format('woff'); font-weight: bold; font-style: normal; }

@font-face { font-family: 'VAGRoundedStd'; src: url('VAGRoundedStd-Thin.woff') format('woff'); font-weight: 100; font-style: normal; }