* { margin: 0; padding: 0; }

.shell { margin: 0 auto; width: 1030px; }

.section { background-color: #c9c9c9; padding: 20px; width: 990px; }

.square { width: 80px; height: 80px; background-color: #2389a6; float: left; margin-right: 20px}

.all-rectangles { float: right; }

.orange-rectangle { width: 160px; height: 60px; background-color: #d47300; float: left; }

.all-small-rectangle { float: right; margin-bottom: 20px; }

.smaller-rectangle { width: 80px; height: 20px; background-color: #7323a6; float: left; }
.smaller-rectangle + .smaller-rectangle {  margin-left: 10px; }

.rectangle { float: left; width: 100px; height: 40px; background-color: #23a654; }
.rectangle + .rectangle { margin-left: 10px }

.clear { clear: both; }